# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular language for data science
- list libraries used by data science
- Data science tools
- Simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. SciPy

|Data Science Tools |
| ------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Aisha Althnyan